// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@use "sass:list";
@import "../../node_modules/bootstrap/scss/functions";

//---------2. Include any default VARIABLES overrides here-----------
//---COLORS------

$primary: #4caed2;
$secondary: #82756a;
$dark: #252336;
$light: #fbf9f8;
//background
$body-bg: #fbf9f8;

//---FONTS------
$font-family-base: "Lato", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;

// headings
$headings-font-family: "Source Serif Pro", serif;
$headings-font-style: "Source Serif Pro", serif;
$headings-font-weight: 700;

//links
$link-color: $primary;

// ----HEADINGS----- font sizes. Responsive by default in bootstrap
$h1-font-size: 3.052rem;
$h2-font-size: 2.441rem;
$h3-font-size: 1.953rem;
$h4-font-size: 1.563rem;
$h5-font-size: 1.25rem;

$h2-line-height: 1.27;
// og found in sass vars
$headings-line-height: 1.3;
$headings-margin-bottom: 1.38rem;

//p
$paragraph-margin-bottom: 0.75rem;

//buttons
$btn-font-weight: 600;
$input-btn-font-size: 1.25rem;
$input-btn-border-width: 3px;
$btn-border-radius: 0.25rem;

// forms
$input-border-width: 1px;

//navbar
$dropdown-bg: $light;
$navbar-margin-y: 1.5rem;
$navbar-light-active-color: $light;

//spacing vertical rythemn
$base-line: 1.5rem;
//responsive baseline
// $base-line-responsive:(1.5rem, 7vw, 3rem);

// adding my own spacing to match basline
$spacer: 1.5rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.5,
  2: $spacer,
  3: $spacer * 1.5,
  4: $spacer * 2,
  5: $spacer * 2.5,
  6: $spacer * 3,
  7: $spacer * 3.5,
) !default;

// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/utilities";

// ----------Vertical Rhythm-----------
// baseline = line height x base font = 1.5 x 16 = 24px or 1.5rem

// modifying the RFS in sass using functions and mixins
// https://github.com/twbs/rfs/tree/v9.0.3

// creating my own map utilities
.fs-heading {
  font-family: $headings-font-family;
}

// make display-flex and align-center-vertical

// Editing/extending bootstrap utilities
$utilities: map-merge(
  $utilities,
  (
    "rounded":
      map-merge(
        map-get($utilities, "rounded"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "rounded"), "values"),
              (
                6: list.slash(30px, 23px),
              )
            ),
        )
      ),
  )
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
//-----------5. Add additional CUSTOM CODE here---------------
/*
Styling will be a mix of overriding styles and utility classes..
*/

body {
  background-image: linear-gradient(#0ff 1px, transparent 1px);
  background-size: auto $base-line;
  line-height: 1.5;
}

// responsive vertical Rhythm function
@function responsiveVr($multiple) {
  @return calc(($base-line) * (#{$multiple}));
}

// .fs-1,
// .fs-2,
// .fs-3,
// .fa-4,
// .fs-5,
// .fs-6{
//   display: block;
// }

h1,
.fs-1 {
  margin-bottom: 1.9rem;
  line-height: 1.3;
}

// Line height other custom typo spacing
h2,
.fs-2 {
  line-height: 1.27;
}

.fs-3 {
  line-height: 1.5;
}
.fs-4 {
  line-height: 1.3;
}
.fs-5 {
  line-height: 1.25;
  font-size: clamp(1rem, 4vw, 1.25rem) !important;
}

// font smoothing
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
//btns
.btn-primary {
  @include button-variant(
    $primary,
    $primary,
    $light,
    $light,
    $primary,
    $primary
  );
}

.btn-secondary {
  @include button-variant(
    $secondary,
    $secondary,
    $light,
    $light,
    $secondary,
    $secondary
  );
}

//----------NAVBAR-------------

.btn-outline-secondary:hover {
  color: $light;
}

.nav-logout {
  order: 5;
}

.show > .nav-link,
.nav-link.active {
  background-color: $dark;
  svg {
    fill: $light;
  }
}

.navbar-brand,
.navbar-brand:hover {
  color: $dark;
}

//center align for navlinks
.navbar-nav {
  font-size: $font-size-lg;

  .dropdown-menu {
    top: 55px;
    right: -33px;
  }

  .dropdown {
    display: block;
  }

  .dropdown-footer {
    width: 8rem;
  }

  .dropdown-menu {
    width: 8rem;
    min-width: 10rem;
    border: 2px $light solid;
  }

  .dropdown-item {
    padding: 0.75rem;
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    color: $light;
    background-color: $dark;
  }

  li,
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.display-category {
  font-size: 1.25rem;
}

// alter width when in mobile
@media (max-width: 992px) {
  .display-category {
    font-size: 1rem;
  }
  .navbar-collapse {
    li,
    a {
      width: 100%;
      text-align: left;
      justify-content: start;
      padding-left: 1rem;
    }

    .nav-logout {
      order: 0;
    }
  }

  .nav-search {
    margin-right: none;
  }
}

.navbar-toggler {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.nav-link:hover,
.navlink:focus,
.navlink:active {
  background-color: $dark;
  color: $light;
  fill: $light;
  svg {
    fill: $light;
  }
}

.nav-link,
.nav-link--dark {
  padding: 0.75rem;
  line-height: 1.62;
}

.nav-link--dark {
  background-color: $dark;
  color: $light;
  fill: $light;

  svg {
    fill: $light;
  }
}

.nav-link--dark:hover,
.nav-link--dark:focus {
  background-color: $light;
  color: $dark;
  fill: $dark;
  svg {
    fill: $dark;
  }
}

.nav-search {
  margin-right: 1rem;
}

.nav-search.pl-lg-4 {
  padding-left: 2rem;
}

.nav-link,
.nav-link--dark,
.nav-search {
  svg {
    width: 1.75rem;
    margin-right: 0.5rem;
  }
}

.search-form,
.search-form-footer {
  position: relative;
  svg {
    position: absolute;
    top: 0.7rem;
    left: 1rem;
  }
}

.search-form-footer {
  svg {
    left: 1rem;
  }
}

.search-form__input {
  padding-left: 3rem;
  margin-left: 0.5rem;
}

//------------HOME--------------
.banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .banner__login {
    max-width: 40rem;
    background-color: $light;
  }
  .banner__intro {
    max-width: 35rem;
  }
}

// optimized images for resize
@media (max-width: 600px) {
  .banner {
    background-image: url("../img/md-snow-mtns.webp");
  }
}

@media (min-width: 601px) {
  .banner {
    background-image: url("../img/large-snow-mtns.webp");
  }
}

svg {
  width: 3.5rem;
}

.left-auto {
  margin-left: auto;
}

.home-card {
  flex: 1;
  min-width: 315px;
  max-width: 516px;
  .btn {
    width: 10rem;
    // width: 12rem;
  }
}

.bg-gray {
  background: gray;
}

.displayCategory {
}

.page-mtn.row > * {
  // padding: 0rem;
}

.page-mtn__content {
  svg {
    width: 1.5rem;
  }
}

.page-txt-stats {
  li {
    font-size: clamp(1rem, 3vw, 1.25rem);
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
  }
  svg {
    margin-right: 1rem;
  }
}

.page-mtn__footer {
  p {
    max-width: 30rem;
  }
}

.page-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-start;
  > * {
    min-width: 32ch;
  }
  .page-mtn__content {
    flex: 1;
  }

  .page-mtn__images {
    flex: 1;
  }
}

//edit message
.user-message {
  border: $success solid 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: $success !important;
  margin-bottom: 3rem;
}

// dash
.admin-new {
  max-width: 35rem;
  svg {
    width: 1.5rem;
  }
}

.table-mtn__head--pl {
  // padding-left: 1rem !important;
}

//-----------FORM EDIT/NEW----------------------
.edit-form,
.new-form {
  max-width: 40rem;
  .form-group {
    margin-bottom: 1.5rem;
  }

  textarea {
    height: 7.5rem;
  }

  input[type="text"],
  input[type="number"] {
    padding: 0rem;
    height: 3rem;
  }
}

.svg-w2 {
  width: 2rem;
}

.svg-w1 {
  width: 1.5rem;
}

.svg-btn {
  width: 1.5rem;
  fill: $light;
}

.btn.btn-secondary:hover {
  svg {
    fill: $secondary;
  }
}

.btn-secondary--light {
  background-color: $secondary;
  color: $light;
}

.btn-secondary--light:hover {
  background-color: $light;
  color: $secondary;
  border-color: $secondary;
}
//Utility classes

.flex-align-center {
  display: flex;
  align-items: center;
  max-width: 7rem;
  margin-left: auto;
  justify-content: center;
}

form {
  max-width: 40rem;
}

.flip {
  transform: scaleX(-1);
}

//pagination

.pagination-container {
  width: 20rem;
}

.pagination {
  // max-width: 25rem;
}

.fill-primary {
  fill: $dark;
}

.fill-primary:hover {
  fill: $primary;
}

//filter

.no-decoration {
  text-decoration: none;
}

a {
  text-decoration: none;
}

main {
  margin-bottom: 3rem;
}

// footer

.footer-nav {
  > * {
    flex: 1;
  }
  div {
    min-width: 20rem;
  }
  ul {
    min-width: 20rem;
  }
  aside {
    max-width: 30rem;
    min-width: 15rem;
  }
}

// anchor footer to bottom of page

html,
body {
  min-height: 100vh;
}

//table

td {
  vertical-align: middle;
}

// 404

.avalanche-svg {
  width: 75%;
  margin: 0 auto;
  display: block;
  height: auto;
}

.h1-page-not-found {
}
