// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

//---------2. Include any default VARIABLES overrides here-----------
//---COLORS------

$primary: #4caed2;
$secondary: #82756a;
$dark: #252336;
$light: #fbf9f8;
//background
$body-bg: #fbf9f8;

//---FONTS------
$font-family-base: "Lato", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;

// headings
$headings-font-family: "Merriweather", serif;
$headings-font-style: "Merriweather", serif;
$headings-font-weight: 700;

//links
$link-color: $primary;

// heading font sizes. Responsive by default in bootstrap
$h1-font-size: 3.052rem;
$h2-font-size: 2.441rem;
$h3-font-size: 1.953rem;
$h4-font-size: 1.563rem;
$h5-font-size: 1.25rem;

//buttons
$btn-font-weight: 600;
$input-btn-font-size: 1.25rem;
$input-btn-border-width: 3px;
$btn-border-radius: 0.25rem;

//button vars

//navbar
$dropdown-bg: $light;
$navbar-margin-y: 1.5rem;
$navbar-light-active-color: $light;

// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//-----------5. Add additional CUSTOM CODE here---------------
/*
Styling will be a mix of overriding styles and utility classes..
*/
// font smoothing
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
//btns
.btn-primary {
  @include button-variant(
    $primary,
    $primary,
    $light,
    $light,
    $primary,
    $primary
  );
}

.btn-secondary {
  @include button-variant(
    $secondary,
    $secondary,
    $light,
    $light,
    $secondary,
    $secondary
  );
}

//----------NAVBAR-------------

.nav-logout {
  order: 5;
}

.show > .nav-link,
.nav-link.active {
  background-color: $dark;
  svg {
    fill: $light;
  }
}

.navbar-brand,
.navbar-brand:hover {
  color: $dark;
}

//center align for navlinks
.navbar-nav {
  font-size: $font-size-lg;
  .dropdown-menu {
    top: 69px;
    right: -33px;
  }

  .dropdown {
    display: block;
  }

  li,
  a {
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// alter width when in mobile
@media (max-width: 992px) {
  .navbar-collapse {
    li,
    a {
      width: 100%;
      text-align: left;
      justify-content: start;
      padding-left: 1rem;
    }

    .nav-logout {
      order: 0;
    }
  }

  .nav-search {
    margin-right: none;
  }
}

.navbar-toggler {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.nav-link:hover,
.navlink:focus {
  background-color: $dark;
  color: $light;
  fill: $light;
  svg {
    fill: $light;
  }
}

.nav-search {
  margin-right: 1rem;
}

.nav-search.pl-lg-4 {
  padding-left: 2rem;
}

.nav-link,
.nav-search {
  svg {
    width: 1.75rem;
    margin-right: 0.5rem;
  }
}

.search-form {
  position: relative;
  svg {
    position: absolute;
    top: 0.7rem;
    left: 0.75rem;
  }
}

.search-form__input {
  padding-left: 3rem;
}

//------------HOME--------------
.banner {
  .banner__login {
    max-width: 40rem;
  }
  .banner__intro {
    max-width: 35rem;
  }
}

svg {
  width: 3.5rem;
}

.left-auto{
  margin-left: auto;
}